### Importing libraries

In [4]:
#Import libraries
import pandas as pd
import numpy as np
import os

### Importing dataframe

In [5]:
# Turning project folder path into a string
path=r'/Users/jasmeetakaur/Downloads/Jasmeeta/Data Immersion Course/Achievement 1/Achievement 4/Instacart Basket Analysis'

In [6]:
# Importing the â€œorders_products_combined.pkl file
df_orders_products_merged=pd.read_pickle(os.path.join(path,'02 Data/Prepared Data/orders_products_merged.pkl'))

In [7]:
df_orders_products_merged.shape

(9918253, 18)

In [55]:
# Creating a subset
df = df_orders_products_merged[:1000000]

In [56]:
df.shape

(1000000, 14)

In [57]:
df.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.710772e+06,31178.163815,18.421580,2.680699,13.346375,10.055998,27461.547759,6.786967,0.748072,52.196618,7.397939,7.554268
std,9.866751e+05,17958.974841,18.262504,2.078085,4.252633,8.597663,13403.446767,6.119590,0.434120,39.963455,5.859363,3.905825
min,1.300000e+01,1.000000,1.000000,0.000000,0.000000,0.000000,23.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,8.571010e+05,15796.750000,5.000000,1.000000,10.000000,4.000000,16797.000000,2.000000,0.000000,24.000000,4.000000,4.000000
50%,1.711984e+06,31133.000000,12.000000,2.000000,13.000000,7.000000,24852.000000,5.000000,1.000000,24.000000,4.000000,8.200000
75%,2.564170e+06,46248.000000,26.000000,5.000000,16.000000,14.000000,39928.000000,9.000000,1.000000,91.000000,13.000000,10.300000
max,3.421083e+06,63099.000000,99.000000,6.000000,23.000000,30.000000,49451.000000,134.000000,1.000000,123.000000,20.000000,14.800000

In [58]:
# Define a new function
def price_label(row):
   if row['prices']<=5:
      return "low range product"
   elif (row['prices']>5) and (row['prices']<=15):
      return "Mid Range product"
   elif (row['prices']>15):
      return "High Range Product"
   else: return 'Not enough data'

In [59]:
# Apply the function
df['price_range']=df.apply(price_label,axis=1)

/var/folders/77/3dq_7lv50b1b4jqj7g8kp0880000gn/T/ipykernel_91782/1107972228.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range']=df.apply(price_label,axis=1)

In [60]:
df['price_range'].value_counts(dropna=False)

price_range
Mid Range product    666122
low range product    333878
Name: count, dtype: int64

In [61]:
# Finding the maximum price in the subset
df['prices'].max()

14.8

### If Statements with loc() function on the entire data frame

In [62]:
df_orders_products_merged.loc[df_orders_products_merged['prices']>15, 'price_range_loc']='High Range product'

In [63]:
df_orders_products_merged.loc[(df_orders_products_merged['prices']<=15) & (df_orders_products_merged['prices']>5), 'price_range_loc']='Mid Range product'

In [64]:
df_orders_products_merged.loc[df_orders_products_merged['prices']<=5, 'price_range_loc']='Low Range Product'

In [66]:
df_orders_products_merged['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid Range product     6690367
Low Range Product     3100143
High Range product     127743
Name: count, dtype: int64

### If Statements with For loop

In [67]:
# Finding the frequency on each day
df_orders_products_merged['order_day_of_week'].value_counts(dropna=False)

order_day_of_week
0    1894196
1    1729956
6    1382396
5    1291406
2    1286645
3    1176810
4    1156844
Name: count, dtype: int64

In [68]:
# Using the for loop to categorize busy days

result=[] 

for value in orders_products_merged["order_day_of_week"]:
    if value == 0:
      result.append("Busiest Day")
    elif value==4:
      result.append("Least busy") 
    else:
      result.append("Regular busy day")

In [70]:
# Assigning the value of result to a new column'Busiest_day' in df_orders_products_merged
df_orders_products_merged['Busiest_day']=result

In [71]:
# Counting the number of times a unique value occurs
df_orders_products_merged['Busiest_day'].value_counts(dropna=False)

Busiest_day
Regular busy day    6867213
Busiest Day         1894196
Least busy          1156844
Name: count, dtype: int64

### 2. Finding two busiest and two slowest days of the week

In [93]:
# Using the for loop to find two busiest days and 2 slowest days

result=[] 

for value in orders_products_merged["order_day_of_week"]:
    if value == 0 or value == 1:
      result.append("Busiest Days")
    elif value==3 or value==4:
      result.append("Slowest Days") 
    else:
      result.append("Regular busy days")

In [94]:
# Assigning the result of the loop to 'Busiest/Slowest days' column of the data frame
df_orders_products_merged['Busiest/Slowest days']=result

In [95]:
# Printing the frequency of 'Busiest/Slowest days' column
df_orders_products_merged['Busiest/Slowest days'].value_counts(dropna=False)

Busiest/Slowest days
Regular busy days    3960447
Busiest Days         3624152
Slowest Days         2333654
Name: count, dtype: int64

### 3. On checking the frequency of the busiest days, it was found to be equal to the sum of the frequency for days '0' and '1'. The total frequency of slowest days was equal to the sum of th efgrequency for days '3' and '4'. The frequency of the regular busy days matches the sum of frequency for days '2','5','6' and '7'.

### 4. Finding the busiest hours of the day

In [81]:
# Finding the frequency in each hour
df_orders_products_merged['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    847433
11    834539
14    824237
13    819415
15    811711
12    806657
16    772746
9     749590
17    636644
8     530095
18    500081
19    384715
20    296474
7     275188
21    246002
22    194143
23    121172
6      87668
0      66104
1      34377
5      26379
2      20972
4      16846
3      15065
Name: count, dtype: int64

In [82]:
# Using the for loop to categorize busiest hours

result = []                                                                                                                                 =[] 

for value in orders_products_merged["order_hour_of_day"]:
    if value in [10,11,12,13,14,15,16]:
      result.append("Most Orders ")
    elif value in [0,1,2,3,4,5,6]:
      result.append("Fewest Orders") 
    else:
      result.append("Average Orders")

In [89]:
# Assigning the result of the loop to the 'busiest_period_of_day' column of the data frame
df_orders_products_merged['busiest_period_of_day']=result

In [91]:
# Identifying busiest hours of the day
df_orders_products_merged[['order_hour_of_day', 'busiest_period_of_day']].head(20)

    order_hour_of_day busiest_period_of_day
0                   8        Average Orders
1                   7        Average Orders
2                  12          Most Orders
3                   7        Average Orders
4                  15          Most Orders
5                   7        Average Orders
6                   9        Average Orders
7                  14          Most Orders
8                  16          Most Orders
9                   8        Average Orders
10                  9        Average Orders
11                 16          Most Orders
12                 11          Most Orders
13                  9        Average Orders
14                 10          Most Orders
15                 14          Most Orders
16                 12          Most Orders
17                 17        Average Orders
18                 10          Most Orders
19                  8        Average Orders

### 5. Printing the frequency of 'busiest_period_of_day' column

In [84]:
# Printing the frequency of 'busiest_period_of_day' column
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most Orders       5716738
Average Orders    3934104
Fewest Orders      267411
Name: count, dtype: int64

### 7. Exporting the file

In [96]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))