### Importing libraries

In [11]:
#Import libraries
import pandas as pd
import numpy as np
import os

### Importing dataframe

In [12]:
# Turning project folder path into a string
path=r'/Users/jasmeetakaur/Downloads/Jasmeeta/Data Immersion Course/Achievement 1/Achievement 4/Instacart Basket Analysis'

In [13]:
# Importing the “orders_products_combined.pkl file
df_ords_prods_combined=pd.read_pickle(os.path.join(path,'02 Data/Prepared Data/orders_products_combined.pkl'))

In [14]:
# Importing the “products_consistent.csv” file
df_prods=pd.read_csv(os.path.join(path,'02 Data/Prepared Data/products_consistent.csv'), index_col=False)

In [27]:
df_prods.shape

(49672, 5)

In [15]:
# Checking its shape
df_ords_prods_combined.shape

(9927471, 10)

In [16]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0,196,1,0,both
1,2539329,1,1,2,8,0,14084,2,0,both
2,2539329,1,1,2,8,0,12427,3,0,both
3,2539329,1,1,2,8,0,26088,4,0,both
4,2539329,1,1,2,8,0,26405,5,0,both

In [17]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_prods.shape

(49672, 5)

### Combining the orders_products_combined dataframe with products data set

In [23]:
# Merging df_prods with df_ords_prods_combined using the common key 'product_id'
df_orders_products_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id')

In [24]:
df_orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28,196,1,1,both,Soda,77,7,9.0

In [25]:
# Confirm the results of the merge using the merge flag
df_orders_products_merged['_merge'].value_counts()

_merge
both          9918253
left_only           0
right_only          0
Name: count, dtype: int64

### Exporting the newly merged data frame

In [26]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))