## Importing libraries

In [47]:
#Import libraries
import pandas as pd
import numpy as np
import os

### Importing data

In [48]:
# Turning project folder path into a string
path=r'/Users/jasmeetakaur/Downloads/Jasmeeta/Data Immersion Course/Achievement 1/Achievement 4/Instacart Basket Analysis'

In [49]:
# Importing the “orders_consistent.csv” file
df_ords=pd.read_csv(os.path.join(path,'02 Data/Prepared Data/orders_consistent.csv'), index_col=False)

In [50]:
# Importing the “orders_products_prior.csv” file
df_ords_prior=pd.read_csv(os.path.join(path,'03 Scripts/orders_products_prior.csv'), index_col=False)

In [51]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [52]:
# Check the shape 
df_ords_prior.shape

(32434489, 4)

In [53]:
df_ords.shape

(1048575, 6)

In [54]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0
1,2398795,1,2,3,7,15
2,473747,1,3,3,12,21
3,2254736,1,4,4,7,29
4,431534,1,5,4,15,28

### Combining df_ords with df_ords_prior

In [59]:
# Merging the two data frames
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [61]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0,196,1,0,both
1,2539329,1,1,2,8,0,14084,2,0,both
2,2539329,1,1,2,8,0,12427,3,0,both
3,2539329,1,1,2,8,0,26088,4,0,both
4,2539329,1,1,2,8,0,26405,5,0,both

In [63]:
df_merged_large.shape

(9927471, 10)

In [65]:
df_merged_large['_merge'].value_counts()

_merge
both          9927471
left_only           0
right_only          0
Name: count, dtype: int64

### Exporting the meerged file in pickle format

In [62]:
# Exporting the newly merged df_merged_large in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))